{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}
<head>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

  
   <md-block>
    ### Sobre:
    - Estudo de Tendência e previsão de público para alocação de equipes. 
    - Assertividade na contratação de mão de obra usando como base dados históricos e previsão futura.
    - Análise de dados históricos de visitação do parque, cruzando essas informações com os dados climáticos. 
    - Banco simulado em python e mysql para construção de indicadores, considerando variáveis como datas de maiores visitas, épocas do ano, e quantidade de atrações.
    - Observar como a visitação no parque diminui consideravelmente em dias de chuva. Ferramenta que exibirá de maneira gráfica essa informação, e em seguida, usará como base previsão de tempo futura para sugerir uma adequação na locação de mão de obra.
</md-block>

<div align="center">
    <h2>Fluxograma</h2>
    <p> <img src="https://user-images.githubusercontent.com/104404936/188039563-a2a3f779-b98d-4e51-80e5-3b750dae27ba.jpg"/>
</div>
</head>


<body>


<md-block>
<font color= '#de1536'><h3><b>Banco de dados:</b> </h3></font>
###### Jean Carlos Bernabé & Gabriel Cuco Mello
- Definição dos parâmetros para construção do banco simulado;
- Criação da conexão com banco MySQL;
- Criação das tabelas do banco de dados;
- Criando, testando e validando rotinas de inserção de dados;
- Geração do database fictício utilizando dados randomizados pelo Python;
- Liberando das tabelas para equipe de análise de dados fazer os primeiros tratamentos e esboços dos Dashboards.
</md-block>

<md-block> 
<font color= '#58D68D '><h3><b>Análise, Tratamento e Dashboard:</b></h3></font>
###### Luan Alvarez & Gustavo Rodrigues

- Importação dos dados direto da nuvem;
- Tratamento dos dados com python e pandas;
- Exportação dos dados tratados na nuvem;
- Importação do banco de dados direto na nuvem no Google Data Studio;
- Geração de relatórios e Dashboards com o Google Data Studio.

</md-block>

<md-block>
<font color= '#3498DB'><h3><b>Webscraping:</b></h3></font>
###### Lucas Locks & William Justino

- Importação de dados da previsao atraves de webscraping;
- Importação das datas utlizando datetime;
- Tratamento dos dados com python;
- Criação do aplicativo "previsão" em tempo real;
- Exportação dos dados da previsao para a nuvem.

</md-block>



</body>

<footer>

<div class="row">
    <div class="col">
    <md-block>
        #### **Contatos:**
        ###### Gabriel Mello |  <font color= '#25D366'>**Whatsapp:**</font><a href="https://wa.me/+55048996736618">  (48) 99673-6618</a> | <a href="https://www.linkedin.com/in/gabriel-mello-analise-de-dados-python-sql/"> Linkedin</a>                   
        ###### Gustavo Rodrigues | <font color= '#25D366'>**Whatsapp:**</font> <a href="https://wa.me/+55053984742009">  (53) 98474-2009</a> | <a href="https://www.linkedin.com/in/guhtcha/"> Linkedin</a>                  
        ###### Jean Carlos Bernabé de Oliveira | <font color= '#25D366'>**Whatsapp:**</font> <a href="https://wa.me/+55049991898626">  (49) 99189-8626</a> |<a href="https://www.linkedin.com/in/jean-carlos-bernab%C3%A9-de-oliveira-1b161549/"> Linkedin</a> 
        ###### Luan Alvarez |  <font color= '#25D366'>**Whatsapp:**</font><a href="https://wa.me/+55013991378334">  (13) 99137-8334</a> | <a href="https://www.linkedin.com/in/luan-alvarez-1499a7224/"> Linkedin</a> 
        ###### Lucas Locks | <font color= '#25D366'>**Whatsapp:**</font><a href="https://wa.me/+55049999367658">  (49) 99936-7658</a> | <a href="https://www.linkedin.com/in/lucas-locks-analista-de-dados/"> Linkedin</a> 
        ###### William Justino |  <font color= '#25D366'>**Whatsapp:**</font><a href="https://wa.me/+55048998066865">  (48) 99806-6865</a> | <a href="https://www.linkedin.com/in/william-justino-analista-de-dados/"> Linkedin</a> 
        
    </md-block>
    <br/>
</div>
</footer>
{% endblock %}