{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
                <h4 class="card-title text-center">Home-Apresentação</h4>        
                    {% csrf_token %}  
                    {{ dados  }}
                    <p> G4 </p>

                    <p> Time:</p>

                        <p> Luan Alvarez,</p>
                        
                        <p>   William Justino,</p>
                        
                        <p>    Jean Carlos Bernabé De Oliveira,</p>
                        
                        <p>    Gabriel Mello,</p>
                        
                        <p>    Gustavo Rodrigues Da Silva,</p>
                        
                        <p>    Lucas Locks.    </p>
                        <p>  </p>
                    <p> alunos show de bola </p>

    </div>
</div>

{% endblock %}