{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h4 class="card-title text-center">Apresentação</h4>        
                   

                    <h3>Time:</h3>


                        <p>Gabriel Mello <a href="https://www.linkedin.com/in/gabriel-mello-analise-de-dados-python-sql/">Linkedin</a></p>
                        <p>Whatsapp: (48) 99673-6618</p>  
                        <br/>                     
                        <p>Gustavo Rodrigues | Whatsapp: (53) 98474-2009 | <a href="https://www.linkedin.com/in/guhtcha/">Linkedin</a></p>
                        <br/>                               
                        <p>Jean Carlos Bernabé de Oliveira <a href="https://www.linkedin.com/in/jean-carlos-bernab%C3%A9-de-oliveira-1b161549/">Linkedin</a></p>
                        <p>Whatsapp: (49) 99189-8626</p>
                        <br/>
                        <p>Luan Alvarez <a href="https://www.linkedin.com/in/luan-alvarez-1499a7224/">Linkedin</a></p>
                        <p>Whatsapp: (13) 99137-8334</p>
                        <br/>
                        <p><font color="green">Lucas Locks</font> <a href="https://www.linkedin.com/in/lucas-locks-analista-de-dados/">Linkedin</a></p>
                        <p>Whatsapp: (49) 99936-7658</p>
                        <br/>
                        <p>William Justino <a href="https://www.linkedin.com/in/william-justino-analista-de-dados/">Linkedin</a></p>
                        <p>Whatsapp: (48) 99806-6865</p>
                    <p></p>

    </div>
</div>

{% endblock %}